<div class="container-kw animated slideInDown">
  <%= image_tag "Logo.svg", alt: 'Kindy Winkles.', title: 'Kindy Winkles.' %>
</div>

<div class="caption-menu">
  <div class="art animated bounce">
    Art
  </div>

  <div class="music animated bounceInDown">
    Music
  </div>

  <div class="care animated fadeInRightBig">
    Care
  </div>
</div>

<div class="horizontal-bar animated pulse">
    <section id="contact-region">

      <address class="animated fadeInRightBig">561 Cherrywood Dr sunnyvale 94087</address>


      <a href="mailto:priya@kindywinkles.com?Subject=Hi%20Priya" id="email-id" class="animated slideInDown">
        priya@kindywinkles.com
      </a>

      <a href="tel:+6508884845" id="phone">
      650-888-4845
      </a>

   </section>

</div>
