<div class="container-kw">
  <div class="row" style="text-align:center">


    <%= image_tag "Logo400x400.png" %>

  </div>


  <div class="row " style="text-align:center">
    <div class="col-xs-4 animated bounce art"
         style="background-color: #900;
         ">
      Art
    </div>
    <div class="col-xs-4 art" style="background-color:#239900">
      Music
    </div>
    <div class="col-xs-4 art" style="background-color: olivedrab">
      Care
    </div>
  </div>


</div>
<div class="horizontal-bar"></div>