<div class="container">
  <div class="row" style="text-align:center">

    
    <%= image_tag "Logo400x400.png" %>

  </div>


  <div class="row " style="text-align:center" >
    <div class="col-xs-4 animated bounce" style="background-color: #ffff00">
      Art
    </div>
    <div class="col-xs-4" style="background-color: cornflowerblue">
      Music
    </div>
    <div class="col-xs-4" style="background-color: olivedrab">
      Care
    </div>
  </div>


</div>