<div class="container-kw">
  <div class="row" style="text-align:center">


    <%= image_tag "Logo.svg" %>

  </div>


  <div class="row" style="text-align:center">
    <div class="col-xs-4 animated bounce brush-stroked-font">
    Art
    </div>
    <div class="col-xs-4 brush-stroked-font">
    Music
    </div>
    <div class="col-xs-4 brush-stroked-font">
    Care
    </div>
  </div>

  <div class="horizontal-bar"></div>
</div>
