<div class="container-kw">

  <div class="row">


    <%= image_tag "Logo.svg" %>

  </div>


</div>

<div class="row" style="text-align:center">
  <div class="col-xs-4 animated bounce brush-stroked-font">
    Art
  </div>
  <div class="col-xs-4 brush-stroked-font">
    Music
  </div>
  <div class="col-xs-4 brush-stroked-font">
    Care
  </div>
</div>

<div class="horizontal-bar">
  <address>748 danforth ter sunnyvale 94087</address>

  <a href="mailto:priya@kindywinkles.com?Subject=Hi%20Priya">
    priya@kindywinkles.com
  </a>

  <span>
  650-888-4845
  </span>

</div>
