<div class="container-kw animated slideInDown">

  <%= image_tag "Logo.svg" , alt:'Kindy Winkles.', title: 'Kindy Winkles.'%>

</div>


<div class="caption-menu">
  <div class="art animated bounce">
    Art
  </div>
  <div class="music animated bounceInDown">
    Music
  </div>
  <div class="care animated fadeInRightBig">
    Care
  </div>
</div>



<div class="horizontal-bar" id="horizontal-bar">
  <address>748 danforth ter sunnyvale 94087</address>

  <a href="mailto:priya@kindywinkles.com?Subject=Hi%20Priya">
    priya@kindywinkles.com
  </a>

  <span>
  650-888-4845
  </span>

</div>
