/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */
@import "bourbon";
@import "font/app-font-all";
@import "colors/color_variables";
@import "twitter/bootstrap/normalize";
@import "animate/animate";

// Layout

.container-kw {
  width  : 800px;
  margin : 0 auto;

  img {
    width  : 100%;
    height : 100%;
    }

  }

.caption-menu {
  width       : 1024px;
  min-height  : 300px;
  margin      : auto;
  padding-top : 100px;
  font-family : $font-family-script;
  font-size   : 110px;
  font-style  : italic;

  div {
    float      : left;
    width      : 33%;
    text-align : center;
    }

  .art {
    color : $art-green;
    }

  .music {
    color : $music-red;
    }

  .care {
    color : $care-blue;
    }

  }

.horizontal-bar {
  position   : fixed;
  bottom     : 0;
  width      : 100%;
  min-height : 80px;
  background : $kindy-violet;

  section {
    min-width   : 400px;
    color       : $white;
    font-family : $font-family-sans-serif;

    address {
      border-width     : 1px 0 0 0;
      border-style     : solid;
      border-top-color : $kindy-violet;
      font-size        : 22px;
      }
    address:hover {
      color      : $kindy-violet;
      background : $white;
      }

    #email-id {
      float           : left;
      text-decoration : none;
      color           : $white;
      font-size       : 21px;
      }

    #phone {
      float           : left;
      clear           : both;
      text-decoration : none;
      color           : $white;
      font-size       : 20px;
      }
    }

  }

