//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------

// Kindy Colors
// -------------------------

$kindy-violet : #4900c2;

$art-green : #2E8B57;
$music-red : #B22222;
$care-blue : #4682B4;

$white : #ffffff;