<h1>Listing paragraphs</h1>


<H2> ParaGraph 1</H2>
<span class='det'>A </span><span class='nn'>fleet </span><span class='in'>of </span><span class='nns'>warships.</span>
<span class='to'>To </span><span class='nn'>muddle </span><span class='cc'>or </span><span class='nn'>stupefy </span><span class='pp'>.</span>
<span class='vbg'>Having </span><span class='det'>a </span><span class='jj'>feeble </span><span class='cc'>or </span><span class='jj'>unsteady </span><span class='nn'>gait </span><span class='pp'>.</span>

<span class='det'>A </span><span class='nn'>fleet </span><span class='in'>of </span><span class='nns'>warships.</span>
<span class='to'>To </span><span class='nn'>muddle </span><span class='cc'>or </span><span class='nn'>stupefy </span><span class='pp'>.</span>
<span class='vbg'>Having </span><span class='det'>a </span><span class='jj'>feeble </span><span class='cc'>or </span><span class='jj'>unsteady </span><span class='nn'>gait </span><span class='pp'>.</span>
<span class='det'>A </span><span class='nn'>fleet </span><span class='in'>of </span><span class='nns'>warships.</span>
<span class='to'>To </span><span class='nn'>muddle </span><span class='cc'>or </span><span class='nn'>stupefy </span><span class='pp'>.</span>
<span class='vbg'>Having </span><span class='det'>a </span><span class='jj'>feeble </span><span class='cc'>or </span><span class='jj'>unsteady </span><span class='nn'>gait </span><span class='pp'>.</span>
<span class='det'>A </span><span class='nn'>fleet </span><span class='in'>of </span><span class='nns'>warships.</span>
<span class='to'>To </span><span class='nn'>muddle </span><span class='cc'>or </span><span class='nn'>stupefy </span><span class='pp'>.</span>
<span class='vbg'>Having </span><span class='det'>a </span><span class='jj'>feeble </span><span class='cc'>or </span><span class='jj'>unsteady </span><span class='nn'>gait </span><span class='pp'>.</span>



<H2> ParaGraph 2</H2>
<span class='det'>A </span><span class='nn'>fleet </span><span class='in'>of </span><span class='nns'>warships.</span>
<span class='to'>To </span><span class='nn'>muddle </span><span class='cc'>or </span><span class='nn'>stupefy </span><span class='pp'>.</span>
<span class='vbg'>Having </span><span class='det'>a </span><span class='jj'>feeble </span><span class='cc'>or </span><span class='jj'>unsteady </span><span class='nn'>gait </span><span class='pp'>.</span>

<span class='det'>A </span><span class='nn'>fleet </span><span class='in'>of </span><span class='nns'>warships.</span>
<span class='to'>To </span><span class='nn'>muddle </span><span class='cc'>or </span><span class='nn'>stupefy </span><span class='pp'>.</span>
<span class='vbg'>Having </span><span class='det'>a </span><span class='jj'>feeble </span><span class='cc'>or </span><span class='jj'>unsteady </span><span class='nn'>gait </span><span class='pp'>.</span>
<span class='det'>A </span><span class='nn'>fleet </span><span class='in'>of </span><span class='nns'>warships.</span>
<span class='to'>To </span><span class='nn'>muddle </span><span class='cc'>or </span><span class='nn'>stupefy </span><span class='pp'>.</span>
<span class='vbg'>Having </span><span class='det'>a </span><span class='jj'>feeble </span><span class='cc'>or </span><span class='jj'>unsteady </span><span class='nn'>gait </span><span class='pp'>.</span>
<span class='det'>A </span><span class='nn'>fleet </span><span class='in'>of </span><span class='nns'>warships.</span>
<span class='to'>To </span><span class='nn'>muddle </span><span class='cc'>or </span><span class='nn'>stupefy </span><span class='pp'>.</span>
<span class='vbg'>Having </span><span class='det'>a </span><span class='jj'>feeble </span><span class='cc'>or </span><span class='jj'>unsteady </span><span class='nn'>gait </span><span class='pp'>.</span>