//
// Variables
// --------------------------------------------------

// Global values
// --------------------------------------------------

// Kindy Colors
// -------------------------

$kindy-violet : #4900c2;

$art-green : #2e8b57;
$music-red : #b22222;
$care-blue : #4682b4;

$white : #ffffff;